[
	{doudizhu,[
            {listen_port, 7000},
            {node_caller_prefix,"ruby"},

            {pgsql_ip,"127.0.0.1"},
            {pgsql_username,"mmc"},
            {pgsql_password,"mmc"},
            {pgsql_db,"doudizhu_db"},

            {redis_ip,"127.0.0.1"},
            {redis_port,6379}
		]
	}
].